page-fallback {
     ion-header {
        z-index: 20;

        > ion-navbar {
            > div.toolbar-background {
                background: transparent !important;
                border: none !important;
            }
        }
    }
    [class^="header"]::after{
        background-image: none;
    }
    > ion-content {
        background-color: map-get($colors, light ) !important;
        img{
            position: absolute;
            top:16vh;
            right: 20vw;
            width: 62vw;
            opacity: 0.6;
        }
        .loginCred{
            margin-top: 55vh;
            padding: 0px 6vw;
            text-align: center;
            color: map-get($colors,secondary)!important;
            >button{
                border-radius: 13px;
                width: 60%;
                padding: 21px 0px;
                margin-top: 15vh;
                background-color: #5f5f5f;
            }
        }
        > div.scroll-content, > div.fixed-content {
            margin-top: 0 !important;
        }
    }
}
