page-login {
    ion-header {
        z-index: 20;

        > ion-navbar {
            > div.toolbar-background {
                background: transparent !important;
                border: none !important;
            }
        }
    }
    [class^="header"]::after{
        background-image: none;
    }

    > ion-content {
        background: url("../assets/img/loginbg.jpg") center / cover;
        img{
            position: absolute;
            top:15vh;
            right: 27vw;
            width: 50vw;
        }
        .loginCred{
            margin-top: 29vh;
            color: map-get($colors,primary );
            text-align: center;
            >p{
                margin-left: 40px ;
                margin-right: 40px; 
            }
            >ion-item{
            background-color: transparent !important;
            >.item-inner .input-wrapper ion-label{
                color: black!important;
                } 
            }
            >button{
                border-radius: 13px;
                width: 100%;
                padding: 21px 0px;
                margin-top: 30px;
                background-color: #5f5f5f;
            }
        }
        > div.scroll-content, > div.fixed-content {
            margin-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
    .forgot{
        padding: 10px 10px;
        text-align: center;
        color: rgba(0, 0, 255, 0.66);
    }
}
