page-channels {
    

    ion-header [class^="toolbar-background"] {
        background-color: #fff;
    }

    ion-header [class^="toolbar"] {
        min-height: 40px;
        padding: 5px 0 0 0;
        color: map-get( $colors, primary );  
    }

    ion-segment [class^="segment"]{
        color: map-get($colors, primary) !important;
        border-color: map-get($colors, primary) !important;
        max-width: 100% !important;
        font-size: 1.1rem !important;
    }

    ion-content [class^="fixed-content"] [class^="scroll-content"]{
        margin-top: 13vh;
    }

    ion-content {
        background-color: map-get($colors, light)!important;
    }

    ion-navbar {
        min-height: 6vh;
        padding: 0;
    }


}
