page-home {
    ion-header [class^="toolbar-background"] {
        background-color: #fff;
    }
    ion-header [class^="toolbar"] {
        min-height: 40px;
        padding: 0;
    }
    ion-segment [class^="segment"]{
        color: #D52730 !important;
        border-color: #D52730 !important;
        max-width: 100% !important;
    }
    ion-content [class^="fixed-content"] [class^="scroll-content"]{
        margin-top: 13vh;
    }
    ion-content {
        background-color: #EBEBEB !important;
    }

    ion-navbar {
        min-height: 6vh;
        padding: 0;
    }
    
    .parent {
        position: relative;
    }
    .duration{
        position: absolute;
        bottom:4px;
        right:4px;
        border-radius: 20px;
        overflow: hidden;
    }
    .vidpoints{
        position: absolute;
        top:5px;
        right:5px;  
    }
    .vidplay{
        position: absolute;
        top:40%;
        left:50%;
        color:rgba(256,256,256,0.5);
        font-size: 40pt;
    }
}
