<ion-header no-border>
  <ion-navbar transparent mode="md">
    <button ion-button menuToggle>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-padding *ngIf="videoDetails">
  <!-- <video #videoPlayer ion-fixed controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" 
    class="videoPlayer" [class.fullscreen]="isVideoFullscreen">
    <source src="http://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_20mb.mp4" type="video/mp4" />
  </video> -->
  <iframe ion-fixed class="videoPlayer" [class.fullscreen]="isVideoFullscreen" [src]="safeVideoUrl"
    allowfullscreen="allowfullscreen"  mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" 
    oallowfullscreen="oallowfullscreen"  webkitallowfullscreen="webkitallowfullscreen"></iframe>
  <ion-content no-padding *ngIf="!isVideoFullscreen">
    <div class="vid-header">
      <div class="vid-info">
        <h1>{{videoDetails.title}}</h1>
        <h4>{{videoDetails.views}} views</h4>
      </div>
    </div>
    <div class="vid-description">
      <ion-icon name="md-globe"></ion-icon>&nbsp;{{videoDetails.language}}
      <p>{{videoDetails.description}}</p>
        
    </div>
    <div class="container-vid-actions">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <div class="vid-actions">
              <button ion-button icon-only block (click)="likeVideo()">
                <ion-icon class="icon" name="md-heart"></ion-icon>
              </button>
              <span class="text">{{videoDetails.likes}}</span>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="vid-actions">
              <button ion-button icon-only block (click)="downloadVideo()">
                <ion-icon class="icon" name="md-download"></ion-icon>
              </button>
              <span class="text">Download</span>
            </div>
          </ion-col>
          <ion-col col-4>
            <div class="vid-actions">
              <button ion-button icon-only block (click)="addVideoToPlaylist()">
                <ion-icon class="icon" name="md-add"></ion-icon>
              </button>
              <span class="text">Add to playlist</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="vid-channel-info">
      <img [src]="videoDetails.mapped.channelImageUrl"/>
      <div class="info">
        <h1>{{videoDetails.channelName}}</h1>
        <h4>XXXX followers</h4>
      </div>
      <button ion-button round outline class="btn-follow" (click)="followChannel()" *ngIf="!isFollowing">
        <span>Follow</span>
      </button>
      <button ion-button round outline class="btn-follow" (click)="unfollowChannel()" *ngIf="isFollowing">
        <span>Unfollow</span>
      </button>
    </div>
    <div class="vid-related-vids">
      <h4>Related Videos</h4>
      <div class="container-videos">
        <div class="video-box" *ngFor="let rv of relatedVideoDetails" (click)="goToVideo(rv.id)">
          <img [src]="rv.mapped.imageUrl"/>
          <div class="info">
            <h2>{{rv.title}}</h2>
            <p>
              <span class="channel">{{rv.channelName}}</span><br/>
              <span class="views">{{rv.views}} views</span>
              <span>&nbsp;&bull;&nbsp;</span>
              <span class="points">{{rv.points}} points</span>
            </p>
          </div>
          <button ion-button padding-bottom="false">
            <ion-icon name="md-more"></ion-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="vid-comments">
      <h4>Comments</h4>
      <div class="comment-box">
        <ion-img src="assets/img/volt-placeholder.png"></ion-img>
        <ion-textarea class="txt-comment" placeholder="Leave a comment"></ion-textarea>
        <button ion-button>Post</button>
      </div>
      <div class="container-comments">
        <div class="comment-box uneditable" *ngFor="let vc of videoComments">
          <ion-img src="assets/img/volt-placeholder.png"></ion-img>
          <div class="content">
            <h3>CommentER NAME</h3>
            <p>{{vc.Comment}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-content>