// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.menubanner{
    background-image: url("../assets/img/menu_banner.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:200px;
    position: relative;
}
.avatar{
    position: absolute;
    top: -45px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.username{
    position: absolute;
    bottom: 2px;
    left: 20px;
    
    > h6{
        margin-bottom: -1rem;
    }
}
.userpoints{
    position: absolute;
    right: 15px;
    bottom: 0;
    text-align: end;

    > h3{
        margin-bottom: -1rem;
        color:#D52730;
        text-shadow: 2px 2px 2px rgba(0,0,0,.2);
    }
    > p{
        color:#656565;
    }
}

.menuItems{
    color:#616161;

    &.item-block > .item-inner{
        border-bottom: 0;
    }
}

.popover-page{
    margin: 0 !important;
}

.activeHighlight{
    background-color: map-get($colors, secondary );
    color: #232323;
}